!!!
html.no-js
  head
    block head-title
      title CoderDojo Asahikawa
    meta(name="description", content="")
    link(rel='stylesheet', href='/stylesheets/home.css')
    meta(name="viewport", content="width=device-width")
  body
    p hello world fsdaf ?
    ul
      li: a(href='/about/#{suffix}') about
      li: a(href='/blog/#{suffix}') blog
      li: a(href='/') home japanese
      li: a(href='/en') home english
    p base modified
    fads
    block msg
      base modified
      p this is base message