!!!
html.no-js
  block variables
    - var lang = "ja"
  - var suffix = lang == "ja" ? "" : lang
  head
    block head-title
      title CoderDojo Asahikawa
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
  body
    p hello world
    ul
      li: a(href='/about/#{suffix}') about
      li: a(href='/blog/#{suffix}') blog
      li: a(href='/') home japanese
      li: a(href='/en') home english
    block msg
      p this is base message