extends ./base

block head-title
  title abffasd

block msg
  p this is about messagedfds
  p this lang is #{lang}
  p #{filename}
  p about is
  p index modifieddd
  p!= marked('# markdown header')
  p #{i18n['about']}