!!!
html.no-js
  head
    block head-title
      title CoderDojo Asahikawa
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
  body
    p hello world
    ul
    li: a(href='/about') about
    li: a(href='/blog') blog
    li: a(href='/') home

    block msg
      p this is base message